<%= form_tag(tvshows_path, :method => "get", class: "mt-2 mb-4 search-form") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], id: "search-input",
      placeholder: "Search shows...",  class: "form-control"
    %>
    <%= button_tag(type: "submit", class: "btn btn-danger search-btn") do %>
       <i class="fa fa-search"></i>
    <% end %>
  </div>
<% end %>
