<div class="row text-center mt-4">
  <div class="col-md-12">
    <h2>TV SHOWS</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'search' %>
  </div>
</div>

<% if shows_empty? %>
  <%= render partial: 'shared/empty_search' %>
<% else %>
  <div class="poster-previews mb-4">
    <h3 class="current-media-selection mb-4 text-center animated rollIn">
      <%= @presenter.shows_description %>
    </h3>
     <%= render 'tvshows' %>
  </div>
<% end %>
