.poster-previews {
  text-align: center;
}

.poster-img {
  -webkit-transition: -webkit-transform 0.35s ease;
  -moz-transition:    -moz-transform 0.35s ease;
  -o-transition:      -o-transform 0.35s ease;
  transition:         transform 0.35s ease;
}

.poster-img:hover {
  -ms-transform: scale(1.1) rotate(0.02deg); /*mozilla hack for smoother transform */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.search-form {
  max-width: 75%;
  margin: 0 auto;
}

.search-btn {
  width: 100px;
}

.poster-show-img {
  text-align: center;
}

.poster-show-info > h3,
.poster-show-info > h2 {
  text-decoration: underline;
}

.no-img-preview-sm {
  background-image: url('no-img-face.png');
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  min-width: 185px;
  min-height: 275px;
}

.no-img-preview-md {
  background-image: url('no-img-face.png');
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  min-width: 342px;
  min-height: 513px;
  font-size: 30px;
}

@media all and (max-width: 992px) {
  .poster-show-info {
    max-width: 75%;
    margin: 0 auto;
  }

  .poster-show-info > * {
    text-align: center;
  }

  .search-btn {
    width: 50px;
  }
}

@media all and (min-width: 993px) {
  .poster-show-container {
    margin: 0 auto;
  }
}
